<mat-form-field appearance="fill">
  <mat-label>{{title}}</mat-label>
  <input matInput type="password" [formControl]="control">
  <mat-error *ngIf="control.hasError('required')">
    This field is required.
  </mat-error>
  <mat-error *ngIf="control.hasError('pattern')">
    Please ensure that your password is at least 8 characters long and includes lowercase letters, uppercase
    letters, numbers, and special characters.
  </mat-error>
  <mat-error *ngIf="control.hasError('confirmMismatch')">
    Password and password confirmation are not identical.
  </mat-error>
</mat-form-field>